body {
	overflow: hidden;
}
canvas {
	width: 100%;
}
.gamecanvas {
	position: absolute;
	top: 0;
	left: 0;
}
body, .canvas0 {
 	background: url('../img/grasstile.png');
}
.gamecanvas { z-index: 1; }
.container canvas {
	z-index: 2;
}